.advantages__container {
  max-width: 87.5%;
  margin: 0 auto;
}

.advantages__title {
  @include font-title(12px, 16px, 700);

  padding: 50px 0 0 0;
  margin-bottom: 4px;
  display: block;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $second-color;
}

.advantages__subtitle {
  @include font-title(24px, 36px, 700);

  margin: 0 0 36px 0;
  text-align: center;
  color: $first-color;
}

.advantages__list {
  @include zero(0, 0, none);

  margin: 0 0 60px 0;
}

.advantages__item {
  padding: 66px 0 0 0;
  position: relative;

  &--speed {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      width: 52px;
      height: 56px;
      background: url("../../img/advantages-icon/icon-clock.png") no-repeat center;
    }
  }

  &--convenience {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      width: 52px;
      height: 56px;
      background: url("../../img/advantages-icon/shild.png") no-repeat center;
    }
  }

  &--cheerfulness {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      width: 52px;
      height: 56px;
      background: url("../../img/advantages-icon/energy.png") no-repeat center;
    }
  }

  &--ecology {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      width: 52px;
      height: 56px;
      background: url("../../img/advantages-icon/ecology.png") no-repeat center;
    }
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.advantages__item-title {
  @include font-title(18px, 32px, 700);

  margin: 0 0 4px 0;
  text-align: center;
  color: $first-color;
}

.advantages__item-description {
  @include font-title(14px, 20px, 400);

  margin: 0;
  text-align: center;
  color: $first-color;
}
