.cards {
  @include zero(0, 0, none);

  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cards__product {
  padding: 40px 20px 20px 18px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;

  @media (min-width: $tablet) {
    padding: 50px 30px 30px 30px;
  }

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
}

.cards__product-link {
  text-decoration: none;
}

.cards__product-image {
  margin: 0 auto 24px;
  display: block;

  @media (min-width: $tablet) {
    margin: 0 auto 30px;
  }
}

.cards__product-title {
  @include font-title(18px, 32px, 700);

  margin: 0 0 4px 0;
  color: $first-color;

  @media (min-width: $tablet) {
    @include font-title(24px, 36px, 700);

    margin: 0 0 10px 0;
  }
}

.cards__product-description {
  @include font-title(14px, 20px, 400);

  margin: 0 0 16px 0;
  color: $first-color;
}

.cards__product-buy {
  display: flex;
  justify-content: space-between;
}

.cards__product-price {
  @include font-title(20px, 32px, 600);

  color: $first-color;
}

.cards__button-buy {
  @include font-title(14px, 20px, 400);

  position: relative;
  padding: 8px 20px 8px 46px;
  width: 141px;
  color: #ffffff;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 16px;
    background: url("../img/icon-button/basket-add.svg") no-repeat;
    top: 10px;
    left: 20px;
  }

  &:hover {
    background: #9070ec;
  }

  &:active {
    background: #593cac;
  }
}

.cards__button-buy-disabled {
  background: #bdbdbd;
}
