.catalog {
  background: #f8f8f8;
  padding: 50px 0 0 0;
}

.catalog__container {
  max-width: 87.5%;
  margin: 0 auto;
}

.catalog__title {
  @include font-title(12px, 16px, 700);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $second-color;
  margin: 0 0 4px 0;
}

.catalog__subtitle {
  @include font-title(24px, 36px, 700);

  margin: 0 0 20px 0;
  text-align: center;
  color: $first-color;
}

.catalog__products-wrapper {
  padding-top: 36px;
  margin-bottom: 40px;
}

.catalog__select-wrapper {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.catalog__select {
  @include font-title(16px, 24px, 600);

  position: relative;
  appearance: none;
  width: 160px;
  border: none;
  outline: none;
  color: $second-color;

  padding: 4px 20px 4px 10px;
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 11px;
    pointer-events: none;
    width: 10px;
    height: 10px;
    background: url("../img/icon-button/arrow.svg") no-repeat;
    transform: rotate(-90deg);
  }
}

.catalog__select-title {
  @include font-title(16px, 24px, 600);

  color: $first-color;
  margin-right: 8px;
}

.catalog__products-list {
  margin: 0 0 40px 0;
}

.catalog__products-pagination {
  padding-bottom: 40px;
}
