.country-prod {
  border: none;
  padding: 0;
}

.country-prod__title {
  @include font-title(16px, 24px, 600);

  padding: 0;
  color: $first-color;
}

.country-prod__list {
  @include zero(0, 0, none);
}

// .country-prod__item {}

// .country-prod__custom-checkbox {}

// .country-prod__control-checkbox {}

// .country-prod__box-checkbox {}

// .country-prod__title-checkbox {}
