.filter {
  max-width: 425px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    max-width: 728px;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
  }
}

.filter__range {
  flex-grow: 1;
  margin: 0 0 24px 0;

  @media (min-width: $tablet) {
    margin: 0 15px 0 0;
    width: 227px;
    flex-grow: 0;
  }

  @media (min-width: $desktop) {
    flex-grow: 0;
    width: 315px;
    margin-bottom: 30px;
  }
}

.filter__milk {
  flex-grow: 1;
  width: 210px;
  margin: 0 0 24px 0;

  @media (min-width: $tablet) {
    margin: 0 21px 0 0;
  }

  @media (min-width: $desktop) {
    flex-grow: 0;
    margin-bottom: 30px;
  }
}

.filter__country-prod {
  flex-grow: 1;
  width: 197px;
  margin: 0 0 35px 0;

  @media (min-width: $tablet) {
    margin: 0 21px 0 0;
  }

  @media (min-width: $desktop) {
    flex-grow: 0;
  }
}

.filter__control-button {
  width: 100%;
  margin: 0 auto;
  padding: 35px 0 0 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 24px;

  @media (min-width: 448px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
  }

  @media (min-width: $tablet) {
    margin: 0;
    padding: 40px 0 0 179px;
    grid-template-columns: 148px 138px;
    column-gap: 29px;
  }

  @media (min-width: $desktop) {
    padding: 40px 0 0 0;
    margin-right: auto;
  }
}

.filter__button {
  display: block;
  padding: 10px 16px;
  width: 160px;
  margin: auto;
  color: #ffffff;
  cursor: pointer;

  @media (min-width: $tablet) {
    @include font-title(14px, 24px, 400);

    width: 148px;
    padding: 8px 0;
  }

  &--reset {
    background: #ffffff;
    color: $second-color;

    @media (min-width: $tablet) {
      width: 138px;
    }
  }

  &:hover {
    background: #9070ec;
    color: #ffffff;
  }

  &:active {
    background: #593cac;
  }
}

.filter__button-disabled {
  background: #bdbdbd;
}

.filter__button-disabled-zero {
  background: #e2e2e2;
}
