.filter__range {
  margin: 0 0 24px 0;
}

.filter__milk {
  margin: 0 0 24px 0;
}

.filter__country-prod {
  margin: 0 0 35px 0;
}

.filter__button {
  display: block;
  padding: 10px 16px;
  width: 160px;
  margin: auto;
  color: #ffffff;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &--reset {
    background: #ffffff;
    color: $second-color;
  }
}
