.main-nav {
  @include zero(0, 0, none);

  display: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 399px;
  }

  @media (min-width: $desktop) {
    width: 465px;
  }
}

.main-nav__item > a {
  @media (min-width: $tablet) {
    @include font-title(12px, 16px, 500);

    display: block;
    letter-spacing: 0.02em;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: $first-color;
  }
}

.main-nav__item {
  text-align: center;

  @media (min-width: $desktop) {
    max-width: 113px;
  }
}
