.navigation-media__container {
  margin: 0 auto;
  padding: 20px;
}

.navigation-media__title {
  @include font-title(14px, 20px, 700);

  margin: 0 0 12px 0;
  color: $second-color;
}

.navigation-media__nav-list {
  @include zero(0, 0, none);
}

.navigation-media__nav-item {
  max-width: 180px;
  margin-bottom: 4px;
}

.navigation-media__nav-link {
  @include font-title(12px, 16px, 500);

  padding: 8px 0;
  display: block;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: uppercase;
  color: $first-color;

  &:hover {
    color: $hover-color;
  }

  &:active {
    color: $active-text;
  }
}
