.range {
  border: none;
  padding: 0;
}

.range__title {
  @include font-title(16px, 24px, 600);

  padding: 0;
  margin-bottom: 21px;
  color: $first-color;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }
}

.range__toggles-wrapper {
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    margin-bottom: 32px;
  }
}

.range__toggles {
  position: relative;
  width: 97%;
  height: 4px;
  background-color: #e2e2e2;
}

.range__bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 90%;
  background-color: #9070ec;
}

.range__toggle {
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #9070ec;
  outline: none;

  &::after {
    content: "";
    display: none;
    position: absolute;
    top: calc(50% - 16px / 2);
    left: calc(50% - 16px / 2);
    width: 16px;
    height: 16px;
    background: rgba(120, 89, 207, 0.25);
    border-radius: 50%;
  }

  &:hover::after {
    display: block;
  }

  &:active::after {
    display: block;
    background: #7859cf;
  }

  &:focus::after {
    display: block;
  }
}

.range__toggle-min {
  top: -9px;
  left: 0;
}

.range__toggle-max {
  top: -9px;
  right: 20px;
}

.range__inputs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 49%;
    width: 9px;
    height: 2px;
    background-color: #bdbdbd;
  }

  @media (min-width: $tablet) {
    width: 100%;
  }
}

.range__input-label {
  width: 118px;

  @media (min-width: $tablet) {
    width: 92px;
  }

  @media (min-width: $desktop) {
    width: 134px;
  }
}

.range__input {
  @include font-title(16px, 24px, 500);

  box-sizing: border-box;
  width: 100%;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 2px solid #9070ec;
  border-radius: 4px;
  outline: none;
  text-align: center;
  color: #bdbdbd;

  &:focus {
    border: 2px solid #593cac;
  }
}

.range__input-active {
  color: $first-color;
}

.range__input-disabled {
  border: 2px solid #e2e2e2;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  appearance: none;
}


.range__input::placeholder {
  color: #bdbdbd;
}
