*,
**::after,
**::before {
  box-sizing: border-box;
}

.__container {
  max-width: 87.5%;
  margin: 0 auto;
}

.button {
  box-sizing: border-box;
  background: $second-color;
  border-radius: 4px;
  border: none;
  padding: 0;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}
