$first-color: #333333;
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

@mixin font-title ($fs: 16px, $lh: 24px, $fw: 400) {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin zero($mrg: 0, $pdng: 0, $lstn: none) {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
